.cta-banner {
  height: 300px;
  width: 100%;
  margin-top: 100px;
  padding: 50px;
  background: #0d28a6;
  border-radius: 13px;
  text-align: center;
  padding-top: 5%;
}
.cta-banner h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #ffffff;
}
.cta-banner p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  width: 60%;
  margin: 2% auto;
}
