.our-services {
  margin-top: 100px;
}
.our-services h2 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 20px;
}
.our-services p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.our-services ul li {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  list-style-type: none;
  margin-top: 20px;
  margin-left: -35px;
}
.our-service ul li img {
  margin-right: 12px;
}
