.testimonial {
  margin-top: 100px;
}
.testimonial .card {
  border: 0px solid white;
}
.testimonial .card-body {
  padding: 50px 20px;
  border-radius: 17px;
  background-color: #f1f3ff;
  margin-top: 12px;
}
.testimonial p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.testimonial b {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
