.why-us {
  margin-top: 100px;
}
.why-us h2 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-left: 10px;
}
.why-us p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-left: 10px;
}
.why-us .card {
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  margin: 0px 0px;
}
.why-us .card img {
  margin: 25px 10px;
  width: 12%;
}
.why-us .card h5 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 12px 0px;
}
.why-us .card p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 16px 0px;
}
