footer {
  height: max-content;
  width: 90%;
  padding: 20px;
  margin: 75px 86px 17px 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .text p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
footer .link a {
  text-decoration: none;
}
footer .link p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}
.logo {
  width: 100px;
  height: 34px;
  background: #0d28a6;
}
