.hero {
  width: 100%;
  height: max-content;
  background-color: #f1f3ff;
  padding-right: 12px;
}
.hero .logo {
  width: 100px;
  height: 34px;
  background: #0d28a6;
}
.hero .navbar {
  background-color: #f1f3ff;
}
.hero nav a {
  text-decoration: none;
  color: #000000;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0 10px 0;
  font-weight: bolder;
}
.hero nav .button a {
  color: #ffffff;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}
.button {
  background: #5cb85f;
  border-radius: 2px;
  padding: 8px 12px 8px 12px;
  border: 0cm;
}
.button a {
  color: #ffffff;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}
.banner {
  padding: 150px 0 0 70px;
}
.banner col h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #000000;
}
.banner col p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.banner .column-satu {
  margin: 9% 0% 10% 0%;
}
.car {
  width: 105%;
  z-index: 1;
}
